body {
    font-family: 'Oswald', sans-serif;
}

/*topheader*/

.headbr{
    height: 50px;
    }
    .topheader {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: white;
        z-index: 1;
        top: 0px;
    }
    .topheaderdiv {
        margin-right: 2%;
    }
    .logo {
        cursor: pointer;
        height: 100%;
        margin-left: 2%;
    }
    .bookbutton {
        font-family: 'Oswald', sans-serif;
        color: white;
        background-color: black;
        box-sizing: border-box;
        height: 50px;
    }
    .jointeambutton {
        font-family: 'Oswald', sans-serif;
        color: white;
        background-color: blue;
        height: 50px;
    
    }
    
    .bookbutton:hover{
        color: black;
        background-color: yellow;
    }
    
    .jointeambutton:hover {
        color: black;
        background-color: yellow;
    }
    
    .ath {
        margin-right: 10pt;
    }
    .ath:hover {
        cursor: pointer;
    }

    /* TITLE MAIN */

    .topmenucontainer {
        background-image: url(../Images/acut.jpg);
        height: 50vh;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .midtextcontainer {
        color: white;
        text-align: center;
        padding-top: 15vh;
    }
    
    .midtexth2 {
        font-size: 3em;
    }
    
    .midtext {
        font-size: 1.1em;
        margin-top: -5pt;
    }

/* SERVICES CONTAINER 1 */

    .allservices {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
        padding-top: 15px;
        background-color: rgba(240, 250, 229, 0.747);
    }

 /* SLIDE CONTAINER */ 

    .slidecontainer {
        grid-column: 2;
    }

    #slides {
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
    }

    #allimages {
        width: 350px;
        height: 350px;
    }
/* INFO AN BUTTONS*/

.infoandbuttons {
    grid-column: 3;
}

/* PRICES MENU*/
.pricesbuttons {
    padding-top: 20pt;
    background-color: rgba(240, 250, 229, 0.747);
    display: flex;
    justify-content: space-around;
    padding-bottom: 10pt;
}

.thebuttons:hover {
    cursor: pointer;
    text-decoration: underline;
}
.thebuttons {
    padding: 10pt;
}
/* DISPLAY BOXES FUNCTIONS */

.specialtybox {
    background-color: rgba(240, 250, 229, 0.747);
    margin-top: -21pt;
   display: none;
}

.coloringbox {
    margin-top: -21pt;
    background-color: rgba(240, 250, 229, 0.747);
    display: none;
}
.barberingbox {
    margin-top: -21pt;
    background-color: rgba(240, 250, 229, 0.747);
    display: none;
}
.otherbox {
    margin-top: -21pt;
    background-color: rgba(240, 250, 229, 0.747);
    display: none;
}


#specialtybox.active {
    display: inherit;
}
#coloringbox.active {
    display: inherit;
}
#barberingbox.active {
    display: inherit;
}
#otherbox.active {
    display: inherit;
}
#button1.active {
    color: white;
    background-color: rgb(20, 20, 156);
}
#button2.active {
    color: white;
    background-color: rgb(20, 20, 156);
}
#button3.active {
    color: white;
    background-color: rgb(20, 20, 156);
}
#button4.active {
    color: white;
    background-color: rgb(20, 20, 156);
}
.otherbox {
    padding-bottom: 15pt;
}
/* INFO TEXT */

.infoh4 {
    padding-top: 30pt;
    font-size: 1.3em;
    padding-left: 50pt;
}

.infop {
    padding-left:50pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    margin-top:-10pt;
}




/* FOOTERS */


footer {
    background-color: rgba(216, 191, 216, 0.486);
}
#imagescontainer{
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
}
.footerimagescontainer{
    margin-left: 5vw;
}
#allfooterimages{
    justify-content: space-between;
    margin-top: 50pt;
    min-width: 150px;
    width: 20%;
    margin-left: 20pt;
}
footer {
    border-top: 12pt solid black;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 100%;
    padding: 20pt;
}
.bottomlogo {
    height: 150px;
    margin-top: 6%;
}
h4 {
    font-size: 2em;
}
.footerp {
    font-size: .7em;
}
.copywritecontainer {
    grid-column-start: 1;
    padding-right: 20px;
}
.contactuscontainer {
    margin-top: -25px;
    grid-column-start: 2;
    margin-left: 15px;
}
.socialcontainer {
    display: grid;
    grid-template-columns: 10% 80% 5%;
    grid-template-rows: 40% 20% 20% 20%;
    margin-top: -30px;
    margin-left: 15px;
}

/* LOGOS */

.smalllogos {
    margin-top: 10px;
    margin-left: 15px;
    height: 20px;
    width: 20px;
}
.socialmediacontainer {
    grid-column: 2;
    grid-row: 1;
}

#smallinstagram {
    grid-column: 1;
    grid-row: 2;
}
#smallfacebook {
    grid-column: 1;
    grid-row: 3;
}
#smalltwitter {
    grid-column: 1;
    grid-row: 4;
}

/* LOGO TEXT*/


#smalltext{
    margin-left: 10px;
    padding-left: 10pt;
    margin-top: 10px;
}
.instagramtext {
    grid-column: 2;
    grid-row: 2;
}
.facebooktext {
    grid-column: 2;
    grid-row: 3;
}
.twittertext {
    grid-column: 2;
    grid-row: 4;
}

@media (max-width:700px) {

    .allservices {
        display: grid;
        grid-template-columns: 15% 35% 35% 15%;
        padding-top: 25px;
    }

    #allimages {
        width: 200px;
        height: 200px;
    }
    .h2cuts {
        font-size: 1.1em;
    }
    .prices {
        font-size:1.1em;
    }
    .serviceabout {
        font-size:.9em;
    }
    .allservices {
        padding-top: 10pt ;
        padding-bottom: 20pt ;
    }
    #allfooterimages{
        justify-content: space-between;
        margin-top: 30pt;
        min-width: 120px;
        width: 20%;
        margin-left: 20pt;
    }

    .infoh4 {
        padding-top: 15pt;
        font-size: 1em;
        padding-left: 35pt;
    }
    
    .infop {
        padding-left:35pt;
        font-size: .9em;
        margin-top:-3pt;
    }
   .thebuttons {
       font-size: 1.1em;
   }
}
@media (max-width:470px) {
    .allservices {
        display: grid;
        grid-template-columns: 10% 45% 45% 10%;
        padding-top: 25px;
    }
    #allimages {
        width: 150px;
        height: 150px;
    }

      /*Footer Boxes*/
      footer {
        grid-template-columns: 38% 25% 37%;
        padding:0;
        padding-top: 20pt;
        }
        .bottomlogo {
        height: 100px;
        }
        h4 {
        font-size: 1.5em;
        }
        .footerp {
        font-size: .55em;
        }
        .copywritecontainer {
        margin-left: 0pt;
        grid-column-start: 1;
        }
        .contactuscontainer {
        margin-top: -30pt;
        margin-left: -14pt;
        grid-column-start: 2;
        }
        .socialcontainer {
        margin-left: 10pt;
        }
        .thebuttons {
            font-size: .8em;
        }
          /*topheader*/
    .topheaderdiv {
        margin-right: 2%;
    }
.logo {
      cursor: pointer;
      height: 100%;
      margin-left: 0%;
    }
.topheader {
    height: 40px;
    }

.bookbutton {
    font-size: .4em;
    height: 35px;
    width: 60px;

    }
.jointeambutton {
    font-size: .4em;
    height: 35px;
    width: 60px;
    }
.ath {
    padding:0px;
    font-size: .7em;
    margin-right: 10pt;
    }
}